<html>
<body>

<%= render "errors" %>
<%= render 'layouts/messages' %>


<!--<form method="post" action="/posts">-->
<%#= form_tag url_for(action: "create"), method: "post" do %>
<%#= render "form_fields" %>
<!--  <input type=submit value="Create Post"/>-->
  <%#= submit_tag "Create Post" %>
<!--</form>-->
<%# end %>

<%= render 'form' %>
<br/>
<!--<a href="/posts">Back to List</a>-->
<%= link_to name="Back to List", posts_path %>
</body>
</html>