<html>
<body>
<form method="post" action="/create_post">
  <label for="title"> Title </label>
    <input id=title name=title type=text />
    </br></br>

    <label> Body </label>
      <textarea name=body type=text></textarea>
      </br></br>

      <label for="author"> Author </label>
        <input id=author name=author type=text />
        </br></br>

        <input type=submit value="Create Post" />
</form>
<br/>
<a href="/list_posts">Back to List</a>
</body>
</html>